window {
    margin: 0px;
    background-color: #faf4ed;
    border-radius: 0px;
    border: 2px solid #286983;
    color: #575279;
    font-family: 'Iosevka Nerd Font';
    font-size: 18px;
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    border-radius: 0px;;
    color: #286983;
    background-color: #faf4ed;
    
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #faf4ed;
    color: #faf4ed;
    border-radius: 0px;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: #faf4ed;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #575279;
} 

#entry:selected {
    background-color: #286983;
    color: #faf4ed;
    border-radius: 0px;;
    outline: none;
}

#entry:selected * {
    background-color: #286983;
    color: #faf4ed;
    border-radius: 0px;;
    outline: none;
}